<?xml version="1.0"?>
<launch>

    <!-- bringup a turtlebot3 burger with camera in simulation with gazebo -->

    <!-- Arguments -->
    <arg name="model" default="simplified_burger" /> <!-- options: burger, simplified_burger, joint_ctrl_burger-->
    <!-- initial robot pose -->
    <arg name="x_pos" default="0.0"/>
    <arg name="y_pos" default="0.0"/>
    <arg name="z_pos" default="0.043"/>
    <arg name="roll" default="0.0"/>
    <!-- turn off gazebo gui client to save resources -->
    <arg name="gazebo_gui" default="true"/>
    <!-- options: turtlebot3_world, empty, simple_competition -->
    <arg name="world_name" default="turtlebot3_world"/>
    <!-- if true physics are paused at startup -->
    <arg name="paused" default="false"/>

    <!-- launch a simulated world in Gazebo -->
    <include file="$(find rdl_sim_worlds)/launch/rdl_sim_worlds_example.launch">
        <arg name="gazebo_gui" value="$(arg gazebo_gui)"/>
        <arg name="world_name" value="$(arg world_name)"/>
        <arg name="paused" value="$(arg paused)"/>
    </include>

    <!-- upload turtlebot3 URDF model to param server -->
    <param name="robot_description"
           command="$(find xacro)/xacro $(find rdl_turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />

    <!-- spawn turtlebot3 robot -->
    <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf"
          args="-urdf -model turtlebot3_burger -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -R $(arg roll) -param robot_description" />

    <!-- robot state publisher, publishes tf data based on joint states topic -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" ns="turtlebot3_burger">
        <param name="publish_frequency" type="double" value="50.0" />
    </node>

</launch>
