<?xml version="1.0" ?>
<robot name="turtlebot3_burger" xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- robot 3D geometry and collision description -->
  <xacro:include filename="$(find rdl_turtlebot3_description)/urdf/includes/turtlebot3_burger_model.xacro"/>
  <!-- common color definitions -->
  <xacro:include filename="$(find rdl_turtlebot3_description)/urdf/includes/common_properties.xacro"/>
  <!-- phisics properties (friction, etc), laser scanner + camera -->
  <xacro:include filename="$(find rdl_turtlebot3_description)/urdf/includes/turtlebot3_common_burger.gazebo.xacro"/>
</robot>
